<div *ngIf="displayUploadButton" class="center-container">
    <img [src]="'assets/drag-files-here.png'">

    <h2>OR</h2>

    <button mat-raised-button id="upload-file" color="primary" (click)="handleUploadClick()">
        Upload
    </button>

    <!-- File picker input is hidden and triggered programmatically -->
    <input #FileSelectInputDialog id="file-upload" type="file" multiple style="visibility: hidden;"
        (change)="handleFileInput($event)">
</div>

<div appDragAndDropFile class="dropzone" (filesDropped)="handleFilesDropped($event)"></div>