.page {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 300px;

    background-color: #F0F0F0;
}

.content {
    width: 100%;
}

.sidebar-title {
    text-align: center;

    padding-top: 1.5rem;
}

.sidebar-input-container {
    display: flex;
    flex-direction: column;

    margin: auto 0 0 0;

    align-items: center;

}