.sidenav {
    width: fit-content;
    height: 100%;

    background-color: #EBEBEB;
}

a {
    height: fit-content !important;
}

.sidebar-icon {
    font-size: 2.2rem;

    width: fit-content;
    height: fit-content;

    padding: 4px;
    margin: 0.7rem 0;
}