<div class="home-cards-container">
    <mat-card class="home-card" (click)="handleModuleSelection()">
        <mat-card-content>
            <mat-icon matListIcon class="home-card-icon">calendar_today</mat-icon>
            <h2>Example #1</h2>
        </mat-card-content>
    </mat-card>

    <mat-card class="home-card">
        <mat-card-content>
            <mat-icon matListIcon class="home-card-icon">quiz</mat-icon>
            <h2>Example #2</h2>
        </mat-card-content>
    </mat-card>
</div>