<mat-drawer-container class="page">
    <mat-drawer mode="side" opened class="sidebar">
        <h1 class="sidebar-title">Resource Boards</h1>
        <mat-divider></mat-divider>

        <div style="display: flex; flex-direction: column; height: 100%; justify-content: space-between;">
            <app-resource-board-display-list [resourceBoards]="resourceBoards"
                (deleteResourceBoardEvent)="deleteResourceBoard($event)"
                (selectionChangeEvent)="handleBoardSelection($event)">
            </app-resource-board-display-list>

            <app-create-resource-board-input *ngIf="authenticated"
                (createResourceBoardEvent)="createResourceBoard($event)">
            </app-create-resource-board-input>
        </div>
    </mat-drawer>

    <mat-drawer-content class="content">
        <div style="height: 100%; width: 100%">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>