<mat-drawer-container class="page">
    <mat-drawer mode="side" opened class="sidebar">
        <h1 class="sidebar-title">Resource Boards</h1>
        <mat-divider></mat-divider>

        <div class="column-align-full-height" style="justify-content: space-between;">
            <!-- The list of available resource boards -->
            <app-resource-board-display-list [resourceBoards]="resourceBoards"
                (deleteResourceBoardEvent)="deleteResourceBoard($event)"
                (selectionChangeEvent)="handleBoardSelection($event)">
            </app-resource-board-display-list>

            <!-- Create resource board input (only displays if the current user is tutor) -->
            <app-create-resource-board-input *ngIf="isTutor"
                (createResourceBoardEvent)="createResourceBoard($event)">
            </app-create-resource-board-input>
        </div>
    </mat-drawer>

    <mat-drawer-content class="content">
        <div style="height: 100%; width: 100%">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>