<div class="home-cards-container">
    <mat-card class="home-card" [routerLink]="'/'">
        <mat-card-content>
            <mat-icon matListIcon>calendar_today</mat-icon>
            Calendar
        </mat-card-content>
    </mat-card>

    <mat-card class="home-card">
        <mat-card-content>
            <mat-icon matListIcon>quiz</mat-icon>
            Quiz
        </mat-card-content>
    </mat-card>

    <mat-card class="home-card" [routerLink]="'/resource'">
        <mat-card-content>
            <mat-icon matListIcon>content_copy</mat-icon>
            Resource
        </mat-card-content>
    </mat-card>

    <mat-card class="home-card">
        <mat-card-content>
            <mat-icon matListIcon>format_list_bulleted</mat-icon>
            Notice
        </mat-card-content>
    </mat-card>

    <mat-card class="home-card">
        <mat-card-content>
            <mat-icon matListIcon>question_answer</mat-icon>
            Q & A
        </mat-card-content>
    </mat-card>

    <mat-card class="home-card">
        <mat-card-content>
            <mat-icon matListIcon>chat</mat-icon>
            Feedback
        </mat-card-content>
    </mat-card>
</div>