<div>
    <mat-selection-list [multiple]="false" [(ngModel)]="selectedOptions" (ngModelChange)="onSelectionChange()">
        <mat-list-option *ngFor="let board of resourceBoards" [value]="board">
            <div class="list-item-content">
                <h3 class="list-item-title">{{board.name}}</h3>

                <button *ngIf="isTutor" mat-icon-button class="list-item-icon" aria-label="Delete resource board"
                    (click)="deleteResourceBoard($event, board.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </mat-list-option>
    </mat-selection-list>
</div>